/bin/
/doc/
/target/
/logs/
/db/
/backups/

# ToDO's file
TODOs.txt

# Settings file
pref.properties

# hide api properties file
api.properties
#/src/main/resources/api.properties

# Compiled class file
*.class

# Log file
*.log

# SQLite DB file
jbiblio.db

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
